.searchbar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 10px;
    position:relative;
}
.searchbar-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 50px;

}
.searchbar-products img {
    height: 300px;
    width: 300px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid black;
  border-top: 6px solid rgb(11, 102, 35);
  border-radius: 50%;
  animation: spin 1ms linear infinite;
  margin: auto;
  
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}