.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: uppercase;
}

.breadcrum img {
    height: 10px;
    width: 20px;
}

.breadcrum a {
    color: #5e5e5e; /* Default link color */
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
}

/* Active link styling */
.breadcrum a.active {
    color: black;
    font-weight: 800;
}

/* Hover effect for all links */
.breadcrum a:hover {
    color: black;
    font-weight: 800;
}
